<a href="https://colab.research.google.com/github/MichaelLoGiudice/BTE320/blob/main/In_Class_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pi = 3.14
radius = float(input('enter radius: '))
height = float(input('enter height: '))

area = (2 * pi * (radius ** 2)) + (2 * pi * radius * height)

print (f'area of cylinder: {area} sq. ft')

enter radius: 5
enter height: 10
area of cylinder: 471.0 sq. ft

In [73]:
x = 5
if x % 2 == 0:
  res = 'Even'
else:
  res = 'odd'
print(res)

odd

In [74]:
x = 5
res = 'Even' if x % 2 == 0 else 'odd'
print(res)

odd

In [79]:
n1 = int(input('enter first number: '))
n2 = int(input('enter second number: '))
opperator = input('enter operator: ')
if opperator == '+':
    print(n1 + n2)
elif opperator == '-':
    print(n1 - n2)
elif opperator == '*':
    print(n1 * n2)
elif opperator == '/':
    print(n1 / n2)
elif opperator ++ '//':
    print(n1 // n2)
elif opperator == '**':
    print(n1 ** n2)
elif opperator == '%':
    print(n1 % n2)
else:
    print('invalid operator')

print(f'{n1} {opperator} {n2} = {print}')

TypeError: 'int' object is not callable

In [12]:
for hours in range(1,9,1):
  if hours <= 2:
    print(hours, 10)
  elif hours <=5:
    print(hours,hours*2.5+10)
  else:
    print(hours,20)

1 10
2 10
3 17.5
4 20.0
5 22.5
6 20
7 20
8 20

In [17]:
for numberHours in range(1,9):
  fee = 5 + 2.5 * numberHours
  if fee < 10:
    fee = 10.0
  elif fee > 20:
    fee = 20.0
  print(numberHours, fee)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [85]:
import math

print('Ad$\t', 'Profit')
for adMoney in range(0,201,25):
  revenue = (20 + 2 * round(math.sqrt(adMoney) ** 0.5)) * 10 # instead of adMoney ** 0.5
  cost = 200 + adMoney
  profit = revenue - cost
  print(adMoney, '\t', profit)

Ad$	 Profit
0 	 0
25 	 15
50 	 10
75 	 -15
100 	 -40
125 	 -65
150 	 -90
175 	 -95
200 	 -120